@import "tailwindcss";
@import "@nuxt/ui";


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
    font-weight: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Pretendard', sans-serif;
}