@import "tailwindcss";
@import "@nuxt/ui";


@font-face {
    font-family: 'Yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Yangjin', sans-serif;
}