@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Pretendard', sans-serif;
}